/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
#barra{
    color: #ffffff;
    background-color: #66ccff;
    background-size: cover;
    font: bold 14px cursive, sans-serif;
    height: 1.5cm;  
    width: 100%;
    left: -5px;
    top: 0px;
    text-align: center;
    position:relative;
    
}
footer {
  position:relative;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #66ccff;
  color: #000000;
  text-align: center;
  height: 3cm; 
  width: 100%;
  left: -5px;
  bottom: -5px;
  font: 14px cursive, sans-serif !important;
}
/*fondo titulo pagina-raya*/

body {
    text-align: center;
}
#imagenFondo{
    height:80% ;
    width:45%;
    
}
#movim{
    text-align: center;
}
#imagenmenu{
    text-align: center;
}
#nombreJug{
    text-align-last: left;
    color: #B40404;
    font-family:cursive;
}

#subtitulo{
    text-align-last: center;
    color: #B40404;
    font-family:cursive;
}
li {
    float: left;
    border-right:1px solid white;
}
li:last-child {
    border-left: 1px solid white;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: cursive;
}

li a:hover:not(.active) {
    background-color:#B40404 ;
}

/*recuadro de ingresar*/

* {
  box-sizing: border-box;
  margin: 5px;
  padding: 0;
  font-weight: 300;
}

body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: cursive;
  color: white;
  font-weight: 300;
}

.wrapper {
  background: -webkit-linear-gradient(top left, #e6f7ff 0%,  #1ab2ff 100%);
  background: linear-gradient(to bottom right, #e6f7ff 0%,  #1ab2ff 100%);
  position: absolute;
  top: 50%;
  left: 8%;
  width: 38%;
  height: 400px;
  margin-top: -200px;
  overflow: hidden;
  text-align-last: center;
  font: bold 14px cursive, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
/*barra de menu*/
.navbar-default{
    background: #66ccff;
    
}
form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
#login-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  
}
form button:hover {
  background-color: #f5f7f9;
}


.form {

}
